asdasd {
    background-color: #041e2c;
    background-color: rgba(50, 49, 66, 0.87);
    color: rgba(255, 127, 80, 0.329);
    background-color: #031b35;
    background-color: #020f1d;
    background-color: rgb(3, 27, 53);
    background-color: rgba(255, 127, 80, 0.993);
    background-color: #020f1d;
    background-color: rgb(2, 15, 29);
    background-color: rgb(141, 0, 0);
    background-color: rgb(255, 255, 136);
    background-color: rgba(255, 255, 0, 0.137);
    
}