asdasd {
    background-color: #041e2c;
    background-color: rgba(50, 49, 66, 0.87);
    color: rgba(255, 127, 80, 0.329);
    background-color: #031b35;
    background-color: #020f1d;
    background-color: rgba(3, 27, 53, 0.7);
    background-color: rgba(255, 127, 80, 0.993);
    background-color: rgba(2, 15, 29, 0.8);
}